@use "layout";
@use "colors";

:root {
    background: colors.$gray-dark;
    font-family: sans-serif;
    color: colors.$text;
}
html, body {
    margin: 0;
    padding: 0;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.inner {
    margin: 0 auto;
    padding: 20px 10vw;
    display: flex;
    flex-direction: column;
    min-width: 700px;
    max-width: 1200px;
    > * {
        margin: 20px 0;
    }
}

.header {
    padding: 10px 20px;
    background: colors.$gray-medium;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    user-select: none;
    @include layout.card;
}

.content {
    padding: 20px 40px;
    background: colors.$gray-medium;
    @include layout.card;
}
